body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background: #f7f7f7;
  display: grid;
  gap: 60px;
  justify-items: center;
  align-items: center;
  padding-top: 30px;
}

img {
  max-width: 100%;
}

img.img-menu {
  display: grid;
  object-fit: cover;
  padding-right: 40px;
}

img.img-pesquisa {
  display: grid;
  object-fit: cover;
  padding-left: 40px;
}

img.logoSite {
  display: grid;
  object-fit: cover;
  width: 220px;
  align-items: center;
  padding-left: 18px;
  padding-right: 18px;

}

a {
  text-decoration: none;
}

p {
  font-size: 15px;
  line-height: 1.3;
  text-align: justify;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  text-justify: initial;
  margin-top: 0px;
}

h1.tituloCover {
  display: grid;
  justify-content: left;
  padding-left: 25px;
  margin-bottom: 10px;
}

h2 {
  text-decoration: underline;
}

h3 {
  width: 500px;
  height: 27px;
  margin: 0px;
}

.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 999px;
}

.left {
  display: grid;
  object-fit: cover;
  width: 256px;
  height: 60px;
  justify-items: center;
}

.right {
  display: grid;
  object-fit: cover;
  width: 256px;
  height: 60px;
}

.titulo-site {
  display: grid;
  object-fit: cover;
  width: 100px;
  height: 60px;
}

.pesquisa-site {
  display: grid;
  object-fit: cover;
  width: 100px;
  height: 60px;
  align-content: end;
}

.link-pag-inicial {
  width: 100px;
  height: 60px;
}

.link-pesquisa-site {
  width: 100px;
  height: 60px;
}

.menu-superior-lista {
  margin: 0px;
  padding: 0px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1.25rem;
  justify-content: center;
}

.menu-superior-lista a {
  display: block;
  background: #ffffff;
  padding-top: 0.9375rem;
  padding-right: 0.875rem;
  padding-bottom: 0.4rem;
  padding-left: 0.875rem;
  color: #000000;
  text-transform: uppercase;
  border: 5px solid transparent;
  background-color: #f7f7f7;
}

.menu-superior-lista a:hover {
  border-bottom-color: #900;
  border-style: double;
}

.menu-superior-navegacao {
  width: 800px;
  height: 60px;
}

.servico::before {
  content: "";
  width: 180px;
  height: 4px;
  background: transparent;
  margin-top: 20px;
  right: 525px;
}

.tecnologia::before {
  content: "";
  width: 200px;
  height: 4px;
  background: transparent;
  margin-top: 20px;
  right: 305px;
}

.contato::before {
  content: "";
  width: 70px;
  height: 4px;
  background: transparent;
  margin-top: 20px;
  right: 212px;
}

.sobre::before {
  content: "";
  width: 55px;
  height: 4px;
  background: transparent;
  margin-top: 20px;
  right: 132px;
}

.body {
  background-color: whitesmoke;
  font-family: Arial;
  max-width: 100%;
}

.container-header {
  width: 100%;
  margin-bottom: -60px;
}

.container-menu {
  width: 100%;
}

.container-resumoPrivacidade {
  width: 100%;
  padding-top: 50px;
  margin-bottom: -20px;
}

.container-conteudoPrivacidade {
  padding-top: 0px;
  width: 1000px;
  margin-top: -40px;
}

.container-footer {
  width: 100%;
}

.vantagens {
  background: #fff;
  padding: 40px;
}

.contratoPrivacidade {
  background: #fff;
  padding-bottom: 40px;
  padding-top: 40px;
  position: relative;
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducaocoletausoDados {
  background: #fff;
  padding-bottom: 40px;
  padding-top: 40px;
  position: relative;
  display: grid;
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducaoentreemContato {
  background: #fff;
  padding-bottom: 40px;
  padding-top: 40px;
  position: relative;
  display: grid;
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducaocoletausoDados::before {
  content: "";
  width: 60px;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 50px;
  right: 470px;
}

.introducaoentreemContato::before {
  content: "";
  width: 60px;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 50px;
  right: 470px;
}

.contratoPrivacidade::before {
  content: "";
  width: 60px;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 50px;
  right: 470px;
}

.introducaoPrivacidade {
  width: 440px;
  padding-left: 40px;
  padding-right: 20px;
}

.introducaocoletaUso {
  width: 440px;
  padding-left: 40px;
  padding-right: 20px;
}

.introducaoContato {
  width: 440px;
  padding-left: 40px;
  padding-right: 20px;
}

.introducao-cover {
  display: grid;
  width: 450px;
  height: 200px;
  padding-left: 40px;
  background-color: whitesmoke;
  margin-right: 10px;
  word-break: end;
}

.introducaoentreemContato-cover {
  display: grid;
  width: 450px;
  height: 200px;
  padding-left: 40px;
  background-color: whitesmoke;
  margin-right: 10px;
}

.introducaocoletauso-cover {
  display: grid;
  width: 450px;
  height: 200px;
  padding-left: 40px;
  background-color: whitesmoke;
  margin-right: 10px;
}

.introducao-cover img {
  display: grid;
  object-fit: cover;
  justify-items: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.introducaocoletauso-cover img {
  display: grid;
  object-fit: cover;
  justify-items: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.introducaoentreemContato-cover img {
  display: grid;
  object-fit: cover;
  justify-items: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.conteudoPrivacidade {
  padding-top: 0px;
  width: 1000px;
}

.conteudoColeta {
  width: 1000px;
}

.introducaocoletausoDados {
  width: 1000px;
}

.introducaoentreemContato {
  width: 1000px;
}

.outrosRequisitosLegais {
  padding-top: 20px;
}

.paragrafo-definicoes {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.paragrafo-servicosTerceiros {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.paragrafo-servicosTerceirossemPadding {
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.paragrafo-usodadosPessoais {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

h2.usodadosPessoais {
  padding-bottom: 10px;
  margin-top: 0px;
  padding-top: 30px;
  margin-bottom: 0px;
}

h2.retencaodadosPessoais {
  padding-bottom: 10px;
  margin-top: 0px;
  padding-top: 30px;
  margin-bottom: 0px;
}

h2.transferenciaDadosPessoais {
  padding-bottom: 10px;
  margin-top: 0px;
  padding-top: 30px;
  margin-bottom: 0px;
}

h2.divulgacaoDadosPessoais {
  padding-bottom: 10px;
  margin-top: 0px;
  padding-top: 30px;
  margin-bottom: 0px;
}

h2.dicionarioPrivacidade {
  padding-bottom: 10px;
  margin-top: 0px;
  padding-top: 30px;
  margin-bottom: 0px;
}

h2.conteudoColetaDados {
  padding-bottom: 10px;
  margin-top: 0px;
  padding-top: 30px;
  margin-bottom: 0px;
}

h2.aplicacaoLei {
  padding-bottom: 10px;
  margin-top: 0px;
  padding-top: 30px;
  margin-bottom: 0px;
}

h2.segurancaDadospessoais {
  padding-top: 20px;
}

h2.privacidadeInfantil {
  padding-top: 30px;
}

h2.linksoutrosSites {
  padding-top: 30px;
}

h2.mudancaspoliticaPrivacidade {
  padding-top: 30px;
}

.paragrafo-aplicacaoLei {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.paragrafo-outrosRequisitosLegais {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.definicoes-conteudo {
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
  width: 950px;
}

.marcador {
  padding-right: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.marcadorusoDados {
  padding-right: 10px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.marcadorColeta {
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.marcadorServicos {
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.submarcadorusoDados {
  padding-right: 10px;
  padding-left: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.marcador-lista {
  font-size: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 640px;
  height: auto;
  list-style-position: inside;
}

.marcador-usoDadosPessoais {
  font-size: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 640px;
  height: auto;
  list-style-position: inside;
}

.marcadorOutrosRequisitosLegais-lista {
  font-size: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 640px;
  height: auto;
  list-style-position: inside;
}

.submarcador-usoDadosPessoais {
  font-size: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 640px;
  height: auto;
  list-style-position: inside;
  list-style-type: circle;
}

.marcadorColeta-lista {
  font-size: 15px;
  padding-bottom: 10px;
  width: 640px;
  height: auto;
  list-style-position: inside;
}

.marcadorServicos-lista {
  font-size: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 640px;
  height: auto;
  list-style-position: inside;
}

li.submarcador-usoDadosPessoais::marker {
  display: flex;
  list-style-type: disc;
}

li.marcador-lista::marker {
  display: flex;
  list-style-type: circle;
}

.paragrafoDados {
  font-size: 15px;
  padding-bottom: 20px;
}

.paragrafoRetencaoDados {
  font-size: 15px;
  padding-bottom: 0px;
}

.paragrafodivulgacaoDados {
  font-size: 15px;
}

.paragrafo-dados {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.paragrafo-retencaoDados {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.paragrafo-retencaoDadossemPadding {
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.paragrafo-transferenciaDados {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.paragrafo-transferenciaDadossemPadding {
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.paragrafo-divulgacaoDados {
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.paragrafo-privacidadeInfantil {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.paragrafo-segurancaDadospessoais {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.paragrafo-linksoutrosSites {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.paragrafo-mudancaspoliticaPrivacidade {
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.paragrafo-entreemContato {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.titulo-entreemContato {
  padding-top: 30px;
}

.rodape-footer {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  width: 999px;
}

.rodape-site {
  height: 60px;
  padding: 10px;
  background-color: whitesmoke;
}

.detalheRodape {
  background: #fff;
  position: relative;
  display: grid;
  gap: 1.25rem;
  align-content: center;
  justify-items: end;
}

.menu-rodape-lista {
  display: flex;
  list-style: none;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #fff;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
  font-size: 20px;
  margin-top: -15px;
}

.menu-rodape-lista a {
  display: block;
  background: #ffffff;
  padding-top: 1rem;
  padding-right: 0.875rem;
  padding-bottom: 1rem;
  padding-left: 0.875rem;
  color: #000000;
  border: 5px solid transparent;
  background-color: #fff;
}

.rodape {
  text-align: right;
  position: relative;
  display: grid;
  gap: 1.25rem;
  align-content: center;
  width: 1000px;
  margin-top: -20px;
}

.rodape ::before {
  content: "";
  width: 1000px;
  height: 4px;
  background: #000000;
  position: absolute;
}

.rodape-contato:hover {
  background-color: whitesmoke;
}

.rodape-trabalhe:hover {
  background-color: whitesmoke;
}

.rodape-privacidade:hover {
  background-color: whitesmoke;
}

.rodape-cookies:hover {
  background-color: whitesmoke;
}

.textoRodape {
  text-align: center;
  font-size: 15px;
  line-height: 1.3;
  margin-top: 15px;
  margin-bottom: 15px;
}

.menu-rodape {
  padding-top: 0px;
  margin-top: -15px;
}

.left-footer {
  display: grid;
  object-fit: cover;
  width: 256px;
  height: 195px;
}

.right-footer {
  display: grid;
  object-fit: cover;
  width: 256px;
  height: 195px;
}

@media (max-width: 3840px) {
  div.left {
    width: 1550px;
    height: 60px;
  }

  div.right {
    width: 1550px;
    height: 60px;
  }

  div.left-footer {
    width: 1550px;
    height: 60px;
  }

  div.right-footer {
    width: 1550px;
    height: 60px;
  }
}

@media (max-width: 2560px) {
  div.left {
    width: 772px;
    height: 60px;
  }

  div.right {
    width: 772px;
    height: 60px;
  }

  div.left-footer {
    width: 772px;
    height: 60px;
  }

  div.right-footer {
    width: 772px;
    height: 60px;
  }
}

@media (max-width: 1920px) {
  div.left {
    width: 454px;
    height: 60px;
  }

  div.right {
    width: 454px;
    height: 60px;
  }

  div.left-footer {
    width: 454px;
    height: 60px;
  }

  div.right-footer {
    width: 454px;
    height: 60px;
  }
}

@media (max-width: 1600px) {
  div.left {
    width: 293px;
    height: 60px;
  }

  div.right {
    width: 294px;
    height: 60px;
  }

  div.left-footer {
    width: 293px;
    height: 60px;
  }

  div.right-footer {
    width: 294px;
    height: 60px;
  }
}

@media (max-width: 1550px) {
  div.left {
    width: 256px;
    height: 60px;
  }

  div.right {
    width: 256px;
    height: 60px;
  }

  div.left-footer {
    width: 256px;
    height: 60px;
  }

  div.right-footer {
    width: 256px;
    height: 60px;
  }
}

@media (max-width: 1280px) {
  div.left {
    width: 133px;
    height: 60px;
  }

  div.right {
    width: 132px;
    height: 60px;
  }

  div.left-footer {
    width: 133px;
    height: 60px;
  }

  div.right-footer {
    width: 132px;
    height: 60px;
  }
}

.detalhes-vantagem {
  width: 280px;
  height: 60px;
  margin: 0px;
}
